USER_DATABASE_NAME=users
SESSION_DATABASE_NAME=sessions
ENCRYPTION_SECRET="L3dmip37+NWEi57rSnFFypTG7ZI25Kdz9tyvpRMrL5E="
GMAIL_SMTP_USER_NAME=ENTER_GMAIL_SMTP_USER_NAME
GMAIL_SMTP_USER_EMAIL=ENTER_GMAIL_SMTP_USER_EMAIL
GMAIL_SMTP_PASSWORD=ENTER_GMAIL_SMTP_PASSWORD